body,
html {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
}

body {
  font-family: 'Playfair Display', serif;
}

#header-row {
  border-bottom: 3px solid #E88E19;
  margin-left: 0;
  margin-right: 0;
}

nav.navbar {
  justify-content: flex-start;
}

#footer-row {
  margin-left: 0;
  margin-right: 0;
}

.card-body {
  height: 210px;
}

button.navbar-toggler {
  outline: none;
}

#header-pic.row {
  margin-bottom: 90px;
}

#footer-row {
  border-top: 3px solid #E88E19
}

img#header-pic {
  max-height: 200px;
}

#logo {
  padding-left: 0;
}

p.h5.justify {
  line-height: 2.5rem;
}

img.rounded-circle {
  max-height: 180px;
}

#featured-work {
  margin-bottom: 50px;
}

.social-media {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.contact-section {
  background-color: ghostwhite;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.fa-linkedin-in:hover {
  color: #E88E19;
}

.fa-codepen:hover {
  color: #E88E19;
}

.fa-github:hover {
  color: #E88E19;
}

.img-fluid.rounded-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.h5.justify {
  padding-left: 0 !important;
}

a.btn.btn-outline-primary:focus {
  outline: thin;
}

.top a:hover {
  color: #E88E19;
}

.header-pic {
  background: url(../img/header-pic.jpg) no-repeat -300px;
  clip-path: polygon(50% 0%, 100% 0, 100% 77%, 0 100%, 0 0);
  min-height: 450px;
  padding: 0;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.8;
  margin-top: 5px;
  background-attachment: fixed;
  margin-left: 0;
}

.header-pic h1 {
  color: #fff;
  position: fixed;
  text-align: center;
}

@font-face {
  font-family: "1942";
  src: url("1942.ttf") format("true type format");
}

.typeContent {
  display: flex;
  font-family: 1942;
  align-items: center;
}

.name {
  margin-top: 15px;
}

div.col-12 {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

span.wrap {
  color: #fff;
}

/* media queries go here */

@media screen and (max-width: 576px) {
  div#header-row {
    display: flex;
    align-items: center;
  }
  h2.float-right.text-muted {
    font-size: 0.98rem;
  }
  .navbar-brand {
    /*visibility: hidden;*/
    font-size: 1rem;
  }
  h5.text-muted {
    margin-left: 0;
  }
  div.col {
    padding-left: 0;
  }
  #about-me {
    width: 150px !important;
  }
  nav.navbar {
    display: block;
    margin-left: auto;
  }
  .social-media {
    flex-flow: row;
  }
  .typeContent h1 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1100px) {
  .fixed-bottom {
    visibility: hidden;
  }
}