*{
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Anton');

html,body{
font-family: 'Ubuntu', sans-serif;
/* margin-top: 50px; */

}

.white-text{
	color: #fff;
}
.nav{
	font-size: 1.8em !important;
	height: 60px;
}
.fixed-top{
	font-size: 1.2rem;
	text-transform: uppercase;
}

a.nav-link:hover{
	background-color: #fff;
	color: #4F4F4FFF;
}

li.nav-item{
	padding-right: 8px;
}

.nav-item{
	font-size: 1rem;
}

.navbar-brand{
	font-weight: bolder;
	line-height: 20px;
	font-style: italic;
	font-size: 1.2em;
}

.fa-bars{
	color: #fff;
}

.contained-img{
	height: 100vh!important;
	background-size: cover;
}

/* Media queries for responsive screen size */
@media screen and (max-width: 576px){
	a.navbar-brand.white-text, .nav-item{
		font-size: 1rem;
	}

	.contained-img{
	height: 100vh!important;
	object-fit: cover;
	}
}

/* new section for slideshow */

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: 70px;
}

#landing-header h1 {
    /* color: #343a40; */
    font-family: 'Anton', sans-serif;
    color: #143658;
    font-weight: bolder;
    font-style: italic;
    font-size: 3.5rem;
    text-shadow: 4px 4px 1.6px #f8f9fa;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0;
  animation: imageAnimation 30s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(http://res.cloudinary.com/ybatista1121/image/upload/v1516593205/bravo-pics/House.jpg); background-size: 100% 100%;
  background-position: center center;
 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://res.cloudinary.com/ybatista1121/image/upload/v1516133134/bravo-pics/family.jpg);
  animation-delay: 4s;
  background-position: center center;
  background-size: 100% 100%;
 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://res.cloudinary.com/ybatista1121/image/upload/v1516133135/bravo-pics/money.jpg);
  animation-delay: 8s; 
  background-position: center center;
  background-size: 100% 100%;
}
.slideshow li:nth-child(4) { 
  background-image: url(http://res.cloudinary.com/ybatista1121/image/upload/v1516133134/bravo-pics/insurance.jpg);
  animation-delay: 12s; 
  background-position: center;
  background-size: 100% 100%;
}
.slideshow li:nth-child(5) { 
  background-image: url(http://res.cloudinary.com/ybatista1121/image/upload/v1516766115/bravo-pics/car-pic.jpg);
  animation-delay: 16s; 
  background-position: center;
  background-size: 100% 100%;
} 
.slideshow li:nth-child(6) { 
  background-image: url(http://res.cloudinary.com/ybatista1121/image/upload/c_crop,e_auto_color,h_660,w_1510,x_0,y_0/v1516767359/bravo-pics/boat-insurance.jpg);
  animation-delay: 20s; 
}

.slideshow li:nth-child(7) { 
  background-image: url(http://res.cloudinary.com/ybatista1121/image/upload/v1516767964/bravo-pics/motorcycle-insurance.png);
  animation-delay: 24s; 
}
.btn{
	background-color: #2374BA;
	color: #fff;
	text-transform: uppercase;
}
a.btn:hover{
	color: #fff;
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

ul.slideshow{
  margin-top: 50px;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
}

/* fade in and fade out */
#landing-header{
  opacity: 0;
  animation: fadeIn 5s ease-in-out 1s 1;
}


@keyframes fadeIn{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@media only screen and (max-width: 992px) {
  #landing-header{
    padding-left: 10px;
    padding-right: 10px;
  }
  .slideshow li:nth-child(6){
    display: none;
  }

  div#landing-header h1{
    margin-top: 120px;
  }
 

}

@media (max-width: 768px) {
  .slideshow li:nth-child(1){
    background-size: 100% 100%;
    background-position: bottom;
    object-fit: none;
  }

  .slideshow li:nth-child(6){
    display: none;
  }

  .slideshow li:nth-child(2){
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }

  .slideshow li:nth-child(2),  .slideshow li:nth-child(3),
  .slideshow li:nth-child(3),  .slideshow li:nth-child(4),
  .slideshow li:nth-child(5){
    background-size: cover;
  }

  #landing-header h1{
  font-size: 2.1rem;
}
}