/* quote page */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
}
.container-fluid h1{
	margin-top: 85px;
	color: #7A7A7AFF;

}

.container-fluid{
	margin-bottom: 45px;
}

#quote-header h1{
	text-transform: uppercase;
	margin-bottom: 20px;
	font-style: italic;
	font-weight: bolder;
}

.card{
	margin-top: 15px;
}


/* footer section */
ul{
	list-style-type: none;
}

.col-lg-8.col-md-4.col-sm-6 p, h3, .fa-twitter, .fa-facebook{
	color: #fff;
	position: relative;
}

.fa-twitter{
	margin-right: 10px;
	float: left;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #fff;
	justify-content: space-between;
}
 
i.fa.fa-twitter:hover{
	color: #007bff;
}

.fa-facebook:hover{
	color: #007bff;
}



.fa-facebook{
	margin-right: 10px;
	border-radius: 50%;
	border: 1px solid #fff;
	float: left;
	width: 48px;
	height: 48px;
	display: flex; 
	justify-content: space-between;
}

.fa-linkedin{
	margin-right: 10px;
	border-radius: 50%;
	border: 1px solid #fff;
	float: left;
	width: 48px;
	height: 48px;
	display: flex;
	color: #fff;
	justify-content: space-between;
}

.fa-linkedin:hover{
	color: #007bff;
}

#social{
	text-align: center;
	display: inline;
}

.fa-twitter.fa-lg, .fa-facebook.fa-lg, .fa-linkedin.fa-lg{
	line-height: inherit;
}
#footer-nav{
	height: auto;
	bottom: 0;
	left: 0;
	right: 0;
	
} 

.footer-row{
	margin-left: 0;
    margin-right: 0;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

#social h3{
	margin-top: 20px;
	color: #fff;
	text-decoration: underline;
} 

 #footer-text{
	font-size: 1.1rem;
	margin-top: 25px;
	color: #fff;
}

#social-follow, ul{
	
	
} 

h3#follow-social, fa-facebook.fa-lg, fa-twitter.fa-lg{
	display: flex;
	justify-content: center;
	align-items: center;
}

h3#follow-social{
	font-size: 0.8em;
    margin-top: 7px;
    /* margin-right: 90px; */
    /* text-align: center; */
    justify-content: center;
    width: 50%;
}
 
 .social-icons{
 	width: auto;
 	margin: auto;
 	justify-content: space-between;
 }